<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Plant predictor</h1>
        <form action="/predict" method="POST">
            <div id="form">
                <input type="text" name="plant_image">
                <button type="submit">Enviar</button>
            </div>

            <div id="result">
                <h5>Results: </h5>
            </div>
        </form>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>
